.new-ticket-page {
    text-align: center;
    padding: 20px;
  }
  
  .new-ticket-page h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  
  .new-ticket-page ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .new-ticket-page li {
    margin: 0 10px;
  }
  
  .new-ticket-page li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .new-ticket-page li a:hover {
    color: #007bff;
  }
  
  .new-ticket-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .new-ticket-page .form-group {
    margin-bottom: 15px;
  }
  
  .new-ticket-page label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .new-ticket-page input[type="text"],
  .new-ticket-page input[type="datetime-local"] {
    padding: 8px;
    font-size: 16px;
  }
  
  .new-ticket-page select {
    padding: 8px;
    font-size: 16px;
  }
  
  .new-ticket-page textarea {
    padding: 8px;
    font-size: 16px;
  }
  
  .new-ticket-page button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .new-ticket-page button[type="submit"]:hover {
    background-color: #0056b3;
  }
  